what-auto/n8n.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        -416
      ],
      "id": "24541c21-058f-4ef5-a78e-59dcbff7fe7a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo",
          "mode": "list",
          "cachedResultName": "interior",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1044814466,
          "mode": "list",
          "cachedResultName": "interior",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo/edit#gid=1044814466"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -592,
        -416
      ],
      "id": "d50701a5-ffba-4b1f-95bb-808e84add283",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gOyvwph2Fty9uVVo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd4e82d0-9ced-4416-bb9c-61ba323691b0",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        272,
        -640
      ],
      "id": "71475206-90c5-4b0d-aa6b-3c8dcd21b11a",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/accept",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Loop Over Items').item.json.phone.split(\" \")[1] }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -352
      ],
      "id": "979cc6ec-778b-4e20-a5bc-38515cd01706",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        -400
      ],
      "id": "b8867970-bf14-4ffb-8101-51e741cb39a3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message:\nName:Elegant Spaces\nAdress:New York.\nYour Response :Hi Elegant Spaces, your New York projects look amazing! Bhai, I have a cool idea that can really grow your business and get more clients, sunna chahoge?\n\n\nName: {{ $json.name }}\nAdress:  {{ $json.address }}",
        "options": {
          "systemMessage": "You are a friendly outreach assistant for interior design, home renovation, kitchen renovation, and architecture businesses. Follow these rules:\n\nTone: Mostly English (70%), sprinkle 30% Hyderabadi-style Hinglish.\n\nMessage Focus: Say you have an idea that can grow their business and get more clients.\n\nPersonalization: Include business name and location if provided.\n\nCall to Action: Ask gently if they want to hear your idea.\n\nLength: Around 25 words.\n\nAvoid collaboration talk—focus only on your idea and business growth."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        -352
      ],
      "id": "f2e33cd8-35d2-4a05-ac1e-7fd7004a4d88",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        -192
      ],
      "id": "40f468c8-b64e-4c37-ad7d-5a3a3ffbc6d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jaSpeh47OCHEBZQB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -288,
        -400
      ],
      "id": "899623ff-321c-43da-99b2-d5cc3bbd14d2",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e122cc1b-c874-4b43-92e3-312cb60fea1a",
              "leftValue": "={{ $json['sent-status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -448,
        -416
      ],
      "id": "5f668d70-91a2-4ac2-961a-2ebedcecfa47",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo",
          "mode": "list",
          "cachedResultName": "interior",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1044814466,
          "mode": "list",
          "cachedResultName": "interior",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo/edit#gid=1044814466"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Loop Over Items').item.json.phone }}",
            "sent-status": "sent"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "directions",
              "displayName": "directions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent-status",
              "displayName": "sent-status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        -544
      ],
      "id": "3dd27325-ebff-4cec-99e7-0b57121abe3a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gOyvwph2Fty9uVVo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "135e57d7-7aab-4938-9730-d2d4ce4c76c1",
              "leftValue": "={{ $json.sentStatus }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -352
      ],
      "id": "f1eaf523-3691-4d38-9b32-8eafd7912504",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo",
          "mode": "list",
          "cachedResultName": "interior",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1044814466,
          "mode": "list",
          "cachedResultName": "interior",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18UEky4rKZTqAO0vsn0Zv4qgFKsB8icmvmjuzNFhJGHo/edit#gid=1044814466"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Loop Over Items').item.json.phone }}",
            "sent-status": "phone-not-exist"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "directions",
              "displayName": "directions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent-status",
              "displayName": "sent-status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        -352
      ],
      "id": "55bbd74e-294e-4b4a-b949-947d5e8a7f92",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gOyvwph2Fty9uVVo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44b6b0581231cf0648945e97c4b15adf52102210c0661bec54342c7dc57a02c3"
  }
}