Insta-auto/n8n.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -48
      ],
      "id": "8efd1f1c-0b93-4e0c-8652-8bc27dd2e0ab",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Usx8aAkb12-b_JVoBDi5fHW3iZv_H_MOxAww3VYSDws",
          "mode": "list",
          "cachedResultName": "dataset_instagram-profile-scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Usx8aAkb12-b_JVoBDi5fHW3iZv_H_MOxAww3VYSDws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1687105662,
          "mode": "list",
          "cachedResultName": "dataset_instagram-profile-scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Usx8aAkb12-b_JVoBDi5fHW3iZv_H_MOxAww3VYSDws/edit#gid=1687105662"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -48
      ],
      "id": "1cf2cf67-f08b-4b96-98b2-4e6c41efda1c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gOyvwph2Fty9uVVo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -48
      ],
      "id": "8fc4f687-e485-4cb6-8268-ca55aa2f143c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user massage:\nName:DreamAura Events\nBioGraphy:A Pune-based event planning company that organizes weddings, corporate events, and private parties with a creative touch.\n\nYour Response :\nHi Riya 👋, I really liked DreamAura Events! I’ve got a small idea that could help you get more clients—want me to share? \n\nUser Message : \nName:  {{ $json.fullName }}\nBioGraphy : {{ $json.biography }}",
        "options": {
          "systemMessage": "You are an assistant specialized in writing friendly, curiosity-driven outreach messages for event planners, managers, organizers, and similar professionals.\n\nAlways write in a warm, professional, and approachable tone.\n\nKeep the message short, easy to read, and avoid sounding like a sales pitch.\n\nPersonalize the message by using the provided bio, name, and business details.\n\nThe message goal: spark curiosity by hinting at an idea/solution that can help them grow, get more clients, or make their work easier.\n\nEnd with an open-ended question inviting them to engage (not a hard CTA like \"buy now\").\n\nDo not use markdown formatting, code blocks, asterisks, or special characters for styling.\n\nThe output must be a plain text string only.\n\nMessages must not exceed 25 words."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "id": "4047cd22-f3a3-4421-b8ae-baa5aca860e5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        272
      ],
      "id": "7ba461d3-491a-4996-857e-945e6c635c87",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/instagram",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "="
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -16
      ],
      "id": "69a0ba5b-20ae-4d37-b587-0113fb589e2a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        272
      ],
      "id": "27ace70d-110c-42ce-a1f2-8592d95e2b99",
      "name": "Wait",
      "webhookId": "d5bd68db-a066-410d-99b1-8bfd2f3977ca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f33fb41-ca94-4dd6-8303-b099d518b915",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        48,
        -48
      ],
      "id": "698fc5ef-d913-45a4-b949-3914fd4b16fd",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Usx8aAkb12-b_JVoBDi5fHW3iZv_H_MOxAww3VYSDws",
          "mode": "list",
          "cachedResultName": "dataset_instagram-profile-scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Usx8aAkb12-b_JVoBDi5fHW3iZv_H_MOxAww3VYSDws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1687105662,
          "mode": "list",
          "cachedResultName": "dataset_instagram-profile-scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Usx8aAkb12-b_JVoBDi5fHW3iZv_H_MOxAww3VYSDws/edit#gid=1687105662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "sent",
            "username": "={{ $('Loop Over Items').item.json.username }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profilePicUrl",
              "displayName": "profilePicUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postsCount",
              "displayName": "postsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followersCount",
              "displayName": "followersCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followsCount",
              "displayName": "followsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "private",
              "displayName": "private",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "verified",
              "displayName": "verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isBusinessAccount",
              "displayName": "isBusinessAccount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "biography",
              "displayName": "biography",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        0
      ],
      "id": "2d7cc83e-1724-4d68-94fd-2ec5c9884d6a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gOyvwph2Fty9uVVo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        -48
      ],
      "id": "a77b4afc-7cda-4788-b010-49cfaf90587e",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/instagram",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "=niteshh.dk"
            },
            {
              "name": "message",
              "value": "=hey ho gaya tumhara kam , "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -112
      ],
      "id": "60e42359-b7aa-49f6-baf4-a292ceb3d5ce",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/instagram",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $('Loop Over Items').item.json.username }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        128
      ],
      "id": "61688f1c-99b0-40b0-9578-f537483120e7",
      "name": "HTTP Request2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44b6b0581231cf0648945e97c4b15adf52102210c0661bec54342c7dc57a02c3"
  }
}